html {
   overflow: auto;
   -ms-touch-action: none;
   /*新加的*/
   width:100%;
   height:100%;
}

body {
   background: white;
   overflow: auto;
   color: #4D5F82;
   height: 100%;
   margin: 0;
   -webkit-user-select: text;
   -webkit-text-size-adjust: none;
   font-family: helvetica;
   font-size: 10pt;
}

#content {
   color: #fff;
   overflow: auto;
   position: fixed;
   display: block;
   left: 0px;
   right: 0px;
   top: 43px;
   bottom: 0px;
}

#mainContainer {
   color: #fff;
   width: 100%;
   height: 100%;
   margin: 0px auto;
   background: #d3d3d3;
}

#imageViewerDiv {
   position: relative;
   overflow: auto;
   width: 100%;
   height: 100%;
}

button {
   background-color: #b0e3ea !important;
   border: #E8E8E8 !important;
   color: #4D5F82 !important;
}


.viewportContainer.active{
   border: 1px solid #00a4d9;
}
.viewportContainer{
   border: 1px solid #3c5d80;
}
